MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/legallingo?retryWrites=true&w=majority
JWT_SECRET_KEY=super-secret-key-change-in-production
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:5173
PORT=5000
